<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERRO | 404</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        body{
            text-align: center;
            background-color: blue;
            color: white;
        };
    </style>
</head>

<body>
    <h1>ERRO | 404</h1>
    <hr>
    PÁGINA NÃO ENCONTRADA :( <br><br><br><br><br><br><br><br>
    <a class="btn btn-warning" href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Status">link de acesso aos tipos de erros HTTPS</a>
</body>
</html>