<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACADEMICO</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" type="image/png" href="/img/livro.png" sizes="16x16">
</head>

<body>
    <div class="container">
        <%- include("partials/menu.ejs") %> 
        <h1 style="text-align: center;"> BEM-VINDO AO SISTEMA ACADÊMICO =)</h1>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>